body{
    text-align: center;
}

#intro{
    background-image: url(/home/diff/meechar/moringa-School/Delani-Studio/images/h_img.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 15%;
}
#services{
    background-image: url(/home/diff/meechar/moringa-School/Delani-Studio/images/s_image.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

.white{
    color: antiquewhite;
}
.black{
    color: black;
}