body{
    text-align: center;
}

#intro{
    background-image: url(/home/diff/meechar/moringa-School/Delani-Studio/images/h_img.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 15%;
}

#services{
    background-image: url(/home/diff/meechar/moringa-School/Delani-Studio/images/s_image.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

.white{
    color: antiquewhite;
}

.black{
    color: black;
}

.contacts{
    background-image: url(/home/diff/meechar/moringa-School/Delani-Studio/images/c_image.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    position: relative;

}

#about{
    padding-top: 10%;
    padding-bottom: 10%;

}

#portfolio img{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

#icons img{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#shughuli{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#footer{
    padding-top: 50px;

}
.we-do{
    display: flex;
}

#p1{
    padding-top: 5%;
    padding-bottom: 2%;
}

.para1
.para2
.para3{
    display: none;
}
img1{
    position: relative;
}
.textarea,
textarea{
    color: white;
    background-color: transparent;
    width: 800px;
    padding: 5%;
}
input {
    text-decoration: none;
    border: 1px solid white;
    background-color: transparent;
    padding-left: 10%;
    margin-right: 10%;
    color: white;
    column-gap: 5%;
  }

disc1{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}
.image1{
    position: relative;
    width: 100%;
}

  .project{
   background-color: black;
   color: white;
   border-radius: 10px;
   padding: 10px;
  }

  .image1:hover .image{
    opacity: 0.3;
  }
  .image1:hover.disk1{
    opacity: 1;
   
  }